.awesom-info_hr-div{
	border-top: 1px solid #D98943 ;
	width: 64px;
    height: 2px;
    margin: 0 auto 25px;
}
.title{
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	color: #212121;
}
.awesome_info-mainName{
    margin-bottom: 25px;
	text-align: center;
}
.awesome-info-text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #86878B;
}
.awesome_info{
    max-width:410px ;
    margin: auto;
}
h2{
    display: block;
}
.awesom_row{
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
	padding-top: 80px;
	justify-content: center;
}
.row_item{
	margin: 0 15px;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.awesom_row_img{
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid  orange;
	margin-bottom: 30px
}
.wesom_row_lam{
	max-width:23px ;
	height: 30px;
}
.wesom_row_keybrd{
	max-width:37px ;
	height: 26px;
}
.wesom_row_Lihtning{
	max-width:21px ;
	height: 33px;
}
.awesom_row_name{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	color: #333333;
	margin-bottom: 16px
}
.awesom_row_text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}
.li_tupe{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
    line-height: 40px;
    font-weight: 400;
    font-size: 14px;
    background: #FFFFFF;
}
.awesome_info-mainName::after{
	content: "";
	display: block;
	height: 2px;
	width: 64px;
	background-color:#E72424 ;
	margin: 25px auto 0;
}
.row_item{
	padding-bottom: 35px;
}