.contact_input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
.contact_input:focus {
    outline: none;
  }
.contact_group{
    position: relative;
    margin-bottom: 30px;
}
/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
.awesome_info{
    margin-bottom: 64px;
}
/* active state */
input:focus ~ label, input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #5264AE;
  }
  
  
  /* BOTTOM BARS ================================= */
  .contact_bar {
    position: relative;
    display: block;
    width: 320px;
  }
  .contact_bar:before, .contact_bar:after {
    content: "";
    height: 2px;
    width: 0px;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .contact_bar:before {
    left: 50%;
  }
  .contact_bar:after {
    right: 50%;
  }
  
  /* active state */
  input:focus ~ .contact_bar:before,
  input:focus ~ .contact_bar:after {
    width: 50%;
  }
  /* flex */
.contact_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact_maxText{
    position: relative;

}
.message_input{
    outline: none;
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    top: 133px;
    left: 0px;
}

.message_input:focus ~ div {
    top: -15px;
    font-size: 18px;
    color: #b40b43;

  }
  .messege_lebel{
    color: grey;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.message_span:before, .message_span:after {
    content: "";
    height: 2px;
    width: 0px;
    bottom: 33px;
    position: absolute;
    background: #5264AE;
    transition: 0.4s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.message_span:before {
    left: 50%;
  }
  .message_span:after {
    right: 50%;
  }
  /* иет */
.red_button_a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  color: #2a78dd;
  position: relative;
  z-index: 1;
}
.closing-button {
  text-decoration: none;
  display: block;
  margin: 0 501px;
  color: white;
  box-shadow: 0 0 0 2px white;
  padding: 20px 0;
  width: 166px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.closing-button span {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 5;
}
.closing-button:before, .closing-button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.closing-button:before {
  transform: translateX(-100%);
  background: white;
  transition: transform .3s cubic-bezier(.55, .055, .675, .19);
}
.closing-button:after {
  background:rgba(30, 255, 188, 1);
  transform: translateX(100%);
  transition: transform .3s cubic-bezier(.16, .73, .58, .62) .3s;
}
.closing-button:hover:before, .closing-button:hover:after {
  transform: translateX(0);
}