.mainHead{
    width: 100%;
    background-color: black;
    height: 70px;
}
.head_cont{
    padding: 20px 15px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
}
.nav_head_li{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
}
.header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 480px;
}
