.mainPart{
    background-image: url(../img/modernbuild.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0 100px;
}
.red_color{
    font-family:" Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color:  #EC7979;
}

.color_whit{
    font-family:" Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;


}
.main_maintext{
    max-width: 680px;
    font-family:" Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.main_maintext::after{
    content: "";
    height: 2px;
    width: 64px;
    display: block;
    background-color: #FFFFFF;
    margin: 39px 0 32px;
}
.main_mainlorem{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 282px;
    margin-bottom: 50px;
}
.main_logo{
    margin-bottom: 32px;
}
.mainflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.red_cl{
    color:  #EC7979;
}
.main_textform{
    width: 370px;
    border-radius: 8px;
}
.main_input{
    margin: 0 30px;
}
.main_textform{
    background-color: #FFFFFF;
}
.main_textform_h3{
    text-align: center;
    margin: 0px auto 50px;
    padding: 15px;
}
.main_formbt{
    width: 100%;
    background-color: rgba(121, 172, 206, 0.7);
    outline: none;
    border: none;
    padding: 15px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.main_input{
    margin-bottom: 62px;
}
.main_formbt:hover{
    background-color: #EC7979;
    transition: 0.6s;
}
main::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.55);
    top: 0;
    left: 0;
    z-index: 1;
}
main{
    position: relative;
}
.main_form{
    position: relative;
    z-index: 2;
}

.main_mainlorem{
    position: relative;
    z-index: 0;
}
.main_maintext{
    position: relative;
    z-index: 2;
}
.main_logo{
    position: relative;
    z-index: 2;
}
.main_btn{
    position: relative;
    z-index: 2;
}
.main_btna{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 1px 140px;
}
/* left btn */

.gradient-button {
    position: relative;
    z-index: 2;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #833ab4 0%, #fd1d1d 51%, #fcb045 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    cursor: pointer;
  }
  .gradient-button:hover {
    background-position: right center;
  }
.passwordhi{
    display:inline-block;
    background-image: url(../img/not-visible-interface-symbol-of-an-eye-with-a-slash-on-it_icon-icons.com_57783.png);
    position: absolute;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 8px;
    left: 262px;
}
.contact_group{
    position: relative;
}